<header>
    
    <div id="containerImg">
        <img src="https://www.mobafire.com/images/item/frozen-heart-46x.png" alt="">
    </div>

    <div id="containerSpan">
        <span id="title">Editar evento</span>
       </div>

    <div id="buttonNavigation">
        <div>
            <button>Perfil</button>
        </div>

        <div id="separatorButton">
            <button>Editar Eventos</button>
        </div>

    </div>
</header>

    <div id="body">
        <div class="containerInfo">
        
            <div id="containerFormSpan">
            </div>
            <div id="containerButtonInput">
                
                <div class="styleSpan">
                    <span>Workshop de Fotografia Digital</span>
                </div>

                <div class="styleSpan" id="spaceButton">
                    <span>Minicurso de Desenvolvimento Web</span>
                </div>

                    <button class= "buttonProfile" id="buttonDeleteProfile">Editar Evento</button>
                    
                </div>
            </div>
        </div>
    