
#body{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90%;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
    padding: 0 1.5rem 3rem 0rem;

    font-size: 10rem;
}